*{
    padding:0px;
    margin:0px;
}

.container{
    background-color: aqua;
    height:100vh;
}

.calc{
    padding-top:30px;
    padding-left:20px;
}

#wodaCK, #wodaZK, #wodaCL, #wodaZL, #gaz, #prad, #dodaj{
    padding:13px;
    font-size:14px;
    margin:3px;
    font-weight: bold;
}

#ostatni, #obecny, #calosc{
    height:30px;
}

#dodaj{
    background:red;
}

input[type='number'] { 
    font-size: 24px; 
}

label{
    padding:10px;
    font-size:22px;
}

#cal{
    font-weight:bold; 
}

#calosc{
    background:yellow;
}

p{
    font-size:24px;
}

.top{
    padding:5px;
    margin-bottom:40px;
    margin-left:100px;
    margin-right:100px;
    border: solid black 1px;
}